@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html { overflow-y: scroll; overflow-x:hidden; }

body {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: rgb(13, 13, 41);
  }

/* Mapbox Styling */
#map {
    width: 800px; 
    height: 600px
}

/* D3 & React Graph Styling */
pre {
  font-size: 7em;
}
.tick line {
  stroke: #C0C0BB;
}
.tick text {
  fill: #635F5D;
  cursor: default;
}
.axis-label {
  font-size: 2.5em;
  fill: #635F5D;
}

/* Donut pie chart styling */




/* Registration form styling */

.registration body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color:  rgb(13, 13, 41);
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}