{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div id="about-page" class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div style="width:50%;" class="jumbotron">
				<h2><b>About the Project</b></h2>
				<br>
				<p>The Lost Children Project was conceived when Deborah was crossing the street and struck by the thought of missing children in plain sight. 
                    In 2010, she geographically placed portraits of missing children on pedestrian crossing buttons that illuminated each child's forehead with the words "WAIT". 
				</p>
				<img style="width: 20%;" id="image-traffic" src="static/images/traffic.jpg" alt="traffic-image"/>
				<p>
                    This 2021 version takes this idea further by mapping missing children across the US. 
                    The user can find historically missing children in their area and also missing children who are currently their age. They can also sign up as a web sleuth to perform advanced searches, 
                    as well as to add, edit, delete and save case notes to their personal account. </p>
				<p>
					<a class="btn btn-primary btn-large" href="#">Contact Me!</a>
				</p>
			</div>
		</div>
	</div>
</div>


{% endblock %}