{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
			<div class="jumbotron">
				<h2>
					Hello, world!
				</h2>
				<p>The Lost Children Project was conceived when Deborah was crossing the street and struck by the thought of missing children in plain sight. 
                    In 2010, she geographically placed portraits of missing children on pedestrian crossing buttons that illuminated each child's forehead with the words "WAIT". 
                    This 2021 version takes this idea further by mapping missing children across the US on a location map and building awareness by contextualizing the problem uniquely for each user. 
                    The user can find historically missing children in their area and also missing children who are currently their age. They can also sign up as a web sleuth to perform advanced searches, 
                    as well as to add, edit, delete and save case notes to their personal account. </p>
				<p>
					<a class="btn btn-primary btn-large" href="#">Learn more</a>
				</p>
			</div>
		</div>
	</div>
</div>


{% endblock %}