<head>
  <link rel="shortcut icon" href="/static/images/favicon.ico">
</head>

  <section></section>
<div id="topnav" class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#about">About</a>
  <a href="#contact">Contact</a>
  <div class="login-container">
    <form action="/login" id="login-form" method="POST">
      <input type="email" placeholder="Email" id="email" name="email">
      <input type="password" placeholder="Password" id="password" name="password">
      <button type="submit" id="login-form" value="Login">Login</button>
      </form><form action="/registration">
          <button type="submit" value="Register" id="register-form">Register</button> 
        </form>
      </div>
  </div>

  <div id="flashed">
    <br>
    {% for msg in get_flashed_messages() %}
  <p class="flash-msg">
    {{ msg }}
  </p>
{% endfor %}
  </div>

{% extends 'base.html' %}

{% block title %}Missing Children{% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			 
			<div class="jumbotron">
<!--------------------------------------------------------------->
<!-- Map -->
<!--------------------------------------------------------------->
				<div class="map">
					<script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
					<link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />

					<div id='map'></div>
          
					<script>
					mapboxgl.accessToken = 'pk.eyJ1IjoiZGViaWRheSIsImEiOiJja20zN3V5bXAwMDk0MnFwOTgweDh2bXY3In0.1mhCDfhwLfdgQV3kwTSSAw';
					var map = new mapboxgl.Map({
					container: 'map',
					style: 'mapbox://styles/debiday/ckn82w7530h0a17k9kiby8q0o'
					});
					</script>
          <p style="text-align: center; width: 100%; color: lightgrey">Zoom in to find missing children from your state</p>
					</div>
<!--------------------------------------------------------------->
			</div>
		</div>
	</div>


  <section>2</section>
	<div id="background-age" class="row">
		<div class="col-md-12">
<!--------------------------------------------------------------->
<!-- Queries  -->
<!--------------------------------------------------------------->
<!-- <div for scrolls{3 lines} -->
      <div id="children-age">
      <form style="text-align: center; width: 100%;" id="age-form">				
        <label><h3>Look up missing children who are the same age as you.</h3></label>
        <br>
				<input name="user-age" id="user-age" placeholder="Your age" type="text">
				<button id="find-button" type="submit">Find</button>
			</form>
			
			<!-- <div class="same-age_children"><p>Children the same age as you in 2021 are:</p></div> -->
			<div style="text-align: center; width: 100%;" id="child-info"></div>
			
			
			<!-- <p><h8>Based on NAMUS database launched in 2007.</h8></p>
			<h10>Data accessed April 2021</h10></div> -->
			<script src="/static/js/same_age.js"></script>
<!--------------------------------------------------------------->
		</div>
	</div>
  </div>

<section>3</section>
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2 style="text-align: center; width: 100%; color: white;">
					Age and Gender Biases
				</h2>
<!--------------------------------------------------------------->
<!--D3 and React Graph  -->
<!--------------------------------------------------------------->
        <div id="d3">
					<div id="d3-root"></div>
					<script src="/static/js/graph/bundle.js"></script>
          <p>
            <h4>While the media reports primarily on younger female children, all genders of children go missing– with a majority being older children.</h4>
            "Law enforcement agencies entered a total of <strong>464,324</strong> missing children reports into the 2017 database of the U.S. National Crime Information Center. Although most children who go missing in the U.S. are ultimately located and returned home, each year thousands remain unrecovered."<br>
            <a href=”https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0207742”><small>Citation</small></a> 
          </p>
        </div>
<!--------------------------------------------------------------->
			</div>
		</div>
	</div>


<section>4</section>
	<div class="row">
    <div class="col-md-12"></div>
      <div class="row"></div>
		    <div class="col-md-6">
<!--------------------------------------------------------------->
<!--Google Graph  -->
<!--------------------------------------------------------------->
      <div id="google-graph-area">
				<div class="google-graph">
					<html>
					<head>
						<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
						<script type="text/javascript">
						google.charts.load("current", {packages:["corechart"]});
						google.charts.setOnLoadCallback(drawChart);
						function drawChart() {
							var data = google.visualization.arrayToDataTable([
							['Category', '%'],
							['Endangered Runaways',     91],
							['Family Abductions',      5],
							['Critically Missing',  3],
							['Non-family abductions', 1],
							['Lost, Injured, Uncategorized',    1]
							]);
					
							var options = {
							title: 'Missing Children Statistics',
							pieHole: 0.4,
							titleTextStyle: {color: 'white',
											fontName: 'Poppins, arial',
											fontSize: 20},
							legend: {position: 'left', textStyle: {color: 'white', fontSize: 16}},
							'width':800,
							'height':500,
							'backgroundColor': '#0D0D29',
              'colors': ['47A8BD', '1E3888', 'F5E663', 'FFAD69', '9C3848'],
							'is3D': true,
              'chartArea': {left:30, right:50, top:0,width:'80%',height:'95%'},
              'fontSize': 16
							};
					
							var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
							chart.draw(data, options);
						}
						</script>
					</head>
					<body>
						<div id="donutchart" style="width: 900px; height: 500px; background-color: rgb(13, 13, 41)"></div>
					</body>
					</html>
					</div>
<!--------------------------------------------------------------->
		</div>
  </div>
		<div class="col-md-4">
      <div class="google-writeup">
			<h5>In 2020 NCMEC assisted law enforcement and families with more than 29,800 cases of missing children.</h5>
      <br>
      <p>Case type:<p>
      <ul>
        <li>91 percent endangered runaways.</li>
        <li>5 percent family abductions.</li>
        <li>3 percent critically missing young adults, ages 18 to 20.</li>
        <li>Less than 1 percent nonfamily abductions.</li>
        <li>1 percent lost, injured or otherwise missing children.</li>
      </ul>
        <p>Of the nearly 26,500 runaways reported to NCMEC in 2020, 1 in 6 were likely victims of child sex trafficking.</p>
      </div>
    </div>
	</div>
</div>
</div>


<section>5</section>
	<div class="row">
		<div class="col-md-4">
			<h2>
				Heading
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
<!--------------------------------------------------------------->
<!--To add links -->
<!--------------------------------------------------------------->
		<div class="col-md-4">
			<h2>
				Heading
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Heading
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
	</div>
</div>


<section>6</section>
	<div class="row">
		<div class="col-md-9">
<!--------------------------------------------------------------->
<!-- Login  -->
<!--------------------------------------------------------------->
			<div id="login-homepage">
				<form action="/login" id="login-form" method="POST">
					<input type="email" name="email" id="email" class="login-email-field" placeholder="Email">
					<input type="password" name="password" id="password" class="login-form" placeholder="Password">
					<input type="submit" value="Login" id="login-form-submit">
				</form>
				
				<form action="/registration">
				<input type="submit" value="Register" id="register-form">
				</form>
				
				<form action="/bottom-page">
				  <input type="submit" value="Back to top" id="register-form">
				  </form>
				
				</div>
	<!--------------------------------------------------------------->
		</div>
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
		</div>
		<button type="button" class="btn btn-md btn-primary">Back to top</button>
	</div>
</div>

</div>
</div>

{% endblock %}
