{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="map">
<script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />

<div id='map' style='width: 400px; height: 300px;'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiZGViaWRheSIsImEiOiJja20zN3V5bXAwMDk0MnFwOTgweDh2bXY3In0.1mhCDfhwLfdgQV3kwTSSAw';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/debiday/ckn82w7530h0a17k9kiby8q0o'
});
</script>

</div>

<!-- Queries </p> -->

<form id="age-form">
    <label><h3>Missing children based on your age in 2021:</h3></label>
    <input name="user-age" id="user-age" type="text">
    <button id="find-button" type="submit">Find</button>
</form>

<div class="same-age_children"><p>The children who are the same age as you in the year 2021 are:</p></div>
<div id="child-info"></div>

<form><h3>
    Find the number of children who were reported missing in the year ________. 
    <select name="year">
        <option value="2020">2020</option>
        <option value="2020">2019</option>
        <option value="2020">2018</option>
        <option value="2020">2017</option>
        <option value="2020">2016</option>
        <option value="2020">2015</option>
        <option value="2020">2014</option>
        <option value="2020">2013</option>
        <option value="2020">2012</option>
        <option value="2020">2011</option>
        <option value="2020">2010</option>
        <option value="2020">2009</option>
        <option value="2020">2008</option>
        <option value="2020">2007</option>
    </select></h3>
</form>
<p><h8>Based on NAMUS database launched in 2007.</h8></p>
<h10>Data accessed April 2021</h10>


<p id="child1">child</p>
<script>
    
    $('#child1').on('hover', () => {
        $('#child1').html('test'); 
    });

</script>

<div id="root"></div>
<script src="/static/js/graph/bundle.js"></script>
<script src="/static/js/same_age.js"></script> 
{% endblock %}
