{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}

<!-- <p id="user-email">{{ user.email }} you are now logged in.</p>
<p>{{ user.trackings }}</p> -->

<form action="/logout" method="get" >
    <button type="submit" >Log Out</button>
    </form>

<div class="table-users" id="table-users">
    <div class="header"><h1>Missing Children Notes</h1></div>

    <table id="tracking-table" cellspacing="0">
       <tr>
          <th id="tracking_id">Tracking ID</th>
          <th id="date_time">Date Time</th>
          <th id="notes" width="400">Notes</th>
       </tr>
       
       <tr>
        {%for tracking in user.trackings%}
          <td width="200">{{ tracking.tracking_id }}</td>
          <td width="200">{{ tracking.date_time }}</td>
          <td width="500"><textarea rows="5" cols="35">{{ tracking.note }}</textarea></td>
          <td width="200"><a href="/">Update/Save</a></td>
          <td width="200"><a href="/">Delete</a></td>
       </tr>
       {% endfor %}
 
    </table>
    <!-- <button type="submit" action="/logout">Log Out</button> -->
 </div>

{% endblock %}
