{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}

  <body>
    <div id="my-account" class="container-fluid">
	<div class="row">
		<div class="col-md-12">
            <div id="tracking-buttons">
            <form action="/logout" method="get" >
                <button type="submit" id="account-tracking-buttons-1">Log Out/ Home</button>
                </form>
                <form action="/tracking-page" method="get" >
                    <button type="submit" id="account-tracking-buttons-2">Back to tracking page</button>
                    </form>
                </div>
			<div id="my-account-table" class="jumbotron">
				<table class="table">
					<thead>
                        <div class="table-header" ><h1><b>My Notes 📝</b></h1></div>
						<tr>
							<tr style="font-size-adjust: 22;">
								<th id="tracking_id">Tracking ID</th>
								<th id="date_time">Date</th>
								<th id="notes" width="400">Notes</th>
                                <th id="database">Actions</th>
                                <th id="date_time"></th>
							 </tr>
						</tr>
					</thead>
					<tbody>
						<tr>
							{%for tracking in user.trackings | sort(attribute='tracking_id', reverse = True) %}
							  <td id="{{ tracking.tracking_id }}" class="tracking-id" width="200">{{ tracking.tracking_id }}</td>
							  <td width="200">{{ tracking.date_time }}</td>
					
							  <form action="/update_tracking" method="POST">
							  <input type="hidden" id="tracking_id" name="tracking_id" value="{{ tracking.tracking_id }}">
							  <td width="250"><textarea name="note" rows="8" cols="50">{{ tracking.note }}</textarea></td>
							  <td width="100"><button type="submit">Update/Save</button></td></form>
							  <!-- TODO: Create delete route -->
							  <form action="/delete_tracking" method="POST">
							  <input type="hidden" name="tracking_id" value="{{ tracking.tracking_id }}">
							  <td width="100"><button id="delete-tracking" type="submit">Delete</button></a></td></form>
							</tr>
							{% endfor %}
					</tbody>
				</table>
			</div>
            <div id="account-footer-1">
            <p><b>Thank you for supporting the beta version of The Lost Children.</b></p>
            </div>
            <div id="account-footer-2">
            <p><b>You might also want to join an active <a href="https://www.websleuths.com/forums/forums/missing-persons-discussion.60/">Websleuths </a>community.</b></p>
		</div>
    </div>
	</div>
</div>
</body>
{% endblock %}